<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larkmidtable.admin.mapper.APIAuthMapper">

    <resultMap id="APIAuth" type="com.larkmidtable.admin.entity.APIAuth">
        <result column="id" property="id"/>
        <result column="token_id" property="token_id"/>
        <result column="group_id" property="group_id"/>
        <result column="updatetime" property="update_time" />
    </resultMap>

    <sql id="Show_Column_List">
		t.id,
		t.token_id,
		t.group_id,
		t.update_time
	</sql>

    <delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM lark_api_auth
		WHERE id = #{id}
	</delete>

    <select id="findAll" resultMap="APIAuth">
        SELECT <include refid="Show_Column_List" />
        FROM lark_api_auth AS t
        ORDER BY t.id ASC
    </select>

    <select id="getById" parameterType="java.util.HashMap" resultMap="APIAuth">
        SELECT <include refid="Show_Column_List" />
        FROM lark_api_auth AS t
        WHERE t.id = #{id}
    </select>

    <insert id="save" parameterType="com.larkmidtable.admin.entity.APIAuth" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO lark_api_auth (
			token_id,
			group_id,
			update_time
		) VALUES (
			#{token_id},
			#{group_id},
			#{update_time}
		);
	</insert>

    <update id="update" parameterType="com.larkmidtable.admin.entity.APIAuth" >
        UPDATE lark_api_auth
        SET
        token_id = #{token_id},
        group_id = #{group_id},
        update_time = #{update_time}
        WHERE id = #{id}
    </update>


</mapper>
