<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larkmidtable.admin.mapper.APIConfigMapper">

    <resultMap id="APIConfig" type="com.larkmidtable.admin.entity.APIConfig">
        <result column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="name" property="name"/>
        <result column="group_id" property="group_id" />
        <result column="describe" property="describe" />
        <result column="datasource_id" property="datasource_id" />
        <result column="params" property="params" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="sql_text" property="sql_text" />
    </resultMap>

    <sql id="Show_Column_List">
		t.id,
		t.path,
		t.name,
		t.group_id,
		t.describe,
        t.datasource_id,
        t.params,
        t.create_time,
        t.update_time,
        t.sql_text
	</sql>

    <delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM lark_api_config
		WHERE id = #{id}
	</delete>

    <select id="findAll" resultMap="APIConfig">
        SELECT <include refid="Show_Column_List" />
        FROM lark_api_config AS t
        ORDER BY t.id ASC
    </select>

    <select id="getById" parameterType="java.util.HashMap" resultMap="APIConfig">
        SELECT <include refid="Show_Column_List" />
        FROM lark_api_config AS t
        WHERE t.id = #{id}
    </select>

    <insert id="save" parameterType="com.larkmidtable.admin.entity.APIConfig" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO lark_api_config (
			path,
			`name`,
			group_id,
			`describe`,
			datasource_id,
			params,
			create_time,
			update_time,
			sql_text
		) VALUES (
			#{path},
			#{name},
			#{group_id},
			#{describe},
			#{datasource_id},
			#{params},
			#{create_time},
			#{update_time},
			#{sql_text}
		);
	</insert>

    <update id="update" parameterType="com.larkmidtable.admin.entity.APIConfig" >
        UPDATE lark_api_config
        SET
        path = #{path},
        `name` = #{name},
        group_id = #{group_id},
        `describe` = #{describe},
        datasource_id = #{datasource_id},
        params = #{params},
        update_time = #{update_time},
        sql_text=#{sql_text}
        WHERE id = #{id}
    </update>
</mapper>
