<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larkmidtable.admin.mapper.BaseResourceMapper">

    <resultMap id="BaseResource" type="com.larkmidtable.admin.entity.BaseResource">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="resource_address" property="resource_address"/>
        <result column="updatetime" property="update_time" />
    </resultMap>

    <sql id="Show_Column_List">
		t.id,
		t.name,
		t.resource_address,
		t.update_time
	</sql>

    <delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM lark_base_resource
		WHERE id = #{id}
	</delete>

    <select id="findList"  parameterType="java.util.HashMap"  resultMap="BaseResource">
        SELECT <include refid="Show_Column_List" />
        FROM lark_base_resource AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="name != null and name != ''">
                AND t.name like CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </trim>
        ORDER BY t.id ASC
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="getById" parameterType="java.util.HashMap" resultMap="BaseResource">
        SELECT <include refid="Show_Column_List" />
        FROM lark_base_resource AS t
        WHERE t.id = #{id}
    </select>

    <insert id="save" parameterType="com.larkmidtable.admin.entity.BaseResource" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO lark_base_resource (
			`name`,
			resource_address,
			update_time
		) VALUES (
			#{name},
			#{resource_address},
			#{update_time}
		);
	</insert>

    <update id="update" parameterType="com.larkmidtable.admin.entity.BaseResource" >
        UPDATE lark_base_resource
        SET
        `name` = #{name},
        resource_address = #{resource_address},
        update_time = #{update_time}
        WHERE id = #{id}
    </update>


</mapper>
