<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larkmidtable.admin.mapper.DevTaskMapper">

    <resultMap id="DevTask" type="com.larkmidtable.admin.entity.DevTask">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tasktype" property="tasktype"/>
        <result column="runtype" property="runtype" />
        <result column="sql_text" property="sql_text" />
        <result column="run_param" property="run_param" />
        <result column="jarpath" property="jarpath" />
        <result column="task_describe" property="task_describe" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <sql id="Show_Column_List">
		t.id,
		t.name,
		t.tasktype,
		t.runtype,
		t.sql_text,
		t.run_param,
		t.jarpath,
		t.task_describe,
		t.create_time
	</sql>

    <delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM lark_dev_tasklist
		WHERE id = #{id}
	</delete>

    <select id="findAll" resultMap="DevTask">
        SELECT <include refid="Show_Column_List" />
        FROM lark_dev_tasklist AS t
        ORDER BY t.id ASC
    </select>

</mapper>
