.idea/*
*/*.iml
*.iml
*/target/*
data/*
*/*.tar.gz
*/*/test/*.java
build/*/*
packages/*/*
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

*.class

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
package-lock.json
yarn.lock
larkmidtable-bigdata/common/target/*.jar
larkmidtable-bigdata/core/target/*.jar
larkmidtable-bigdata/sql/src/main/resources/odslarkorder.sql
larkmidtable-bigdata/sql/src/main/resources/readme
